<%= form_with(model: spot, local: true) do |form| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :runs_at %>
    <%= form.datetime_select :runs_at %>
  </div>

  <div class="field">
    <%= form.label :creative %>
    <%= form.text_field :creative %>
  </div>

  <div class="field">
    <%= form.label :spend %>
    <%= form.number_field :spend %>
  </div>

  <div class="field">
    <%= form.label :views %>
    <%= form.number_field :views %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
