<p id="notice"><%= notice %></p>

<p>
  <strong>Runs at:</strong>
  <%= @spot.runs_at %>
</p>

<p>
  <strong>Creative:</strong>
  <%= @spot.creative %>
</p>

<p>
  <strong>Spend:</strong>
  <%= @spot.spend %>
</p>

<p>
  <strong>Views:</strong>
  <%= @spot.views %>
</p>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
